.containerSlider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100vh;
    margin: 0 auto;
}
.slider {
    position: relative;
    width: 100%;
}
