.containerSkills {
    position: relative;
    padding: 25px 40px;
    background-color: var(--background);
    z-index: 4;
}

.containerSkills .title {
    display: flex;
    justify-content: center;
    margin: 25px 0;
    font-size: 2rem;
}

.containerSkills ul {
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.containerSkills li {
    padding: 2% 0;
    margin: 0 2%;
}
